@media (min-width: 1000px) {

	.container {
		display: inline-block;
		width: 100%;
		margin: 0 auto;
		background: #fff;
	}
		
	.main-nav {
		float: right;
    	font-size: 1.125em;
    	text-align: right;
    	width: 45%;
	}


	.name {
		float: left;
		text-align: left;
		width: 25%;
		margin: 20px 0 0;
	}

	.mobile {
		display: none;
	}

	#gallery li {
		width: 26.3333%;
	}

	#gallery li:nth-child(3n) {
		clear: left;
	}








}